:root{
    --base: 10px;
    --blur: 10px;
    --colors: #fc0808;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    color: white;
}
body{
    background: rgb(26, 26, 26);
    overflow: hidden;
}
.header{
    z-index: 2;
    position:absolute;
    top: 5%;
    left: 0;
    right: 0;
    &--mad{
        text-transform: uppercase;
        color: var(--colors);
   
    }
}
.wrapper{
    position: relative;
    padding: 10px;
    &::before{
        content: "";
        opacity: 0.5;
        background: var(--colors);
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
    }
}
.slider{
    margin: auto;
    background: url(../img/aerial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::before{
        position: absolute;
        content: "";
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: radial-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,1));
    }
    &__title{
        position: relative;
    }
    &__input{
        position: relative;
    }
}